/* Write your CSS code here */
.user-detailed-container {
  text-align: center;
  margin-bottom: 30px;
}

.profile-img {
  height: 150px;
  width: 150px;
}

@media (min-width: 768px) {
  .profile-img {
    height: 230px;
    width: 230px;
  }
}

.name {
  color: #12022f;
  font-size: 30px;
  font-weight: 600;
  font-family: 'Roboto';
}

.role {
  color: #616e7c;
  font-size: 24px;
  font-family: 'Roboto';
}
